HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
.mvn
mvnw
mvnw.cmd
/img
configs.txt
log4j2-spring.xml

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

*:Zone.Identifier